*.o
*.elf
*.img
*.bin
tags
cscope.*
*.swp

!/**/firmware/*.bin
!/**/firmware/*.elf

/build
_build
_install
.vscode
simulate.sh
debug.sh
.config
.*-config

asm

run_*

exec_log
make-tag.sh

__pycache__
